@font-face{
	font-family: bestbugFont; src: url('../fonts/applefont/Slim_Joe.otf')format('opentype'); 
}

@media (max-width: 569px) { 
	#fixglich{
		height: 330px;
		font-size: 25px;
	}
	.StartContent{
		padding-top: 60px;
	}
}
@media (min-width: 475px){
	#menu{
		padding-top: 40px;
	}
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
p{
	font-family: bestbugFont;
    font-size: 20px;
}

body{
	background-color: rgb(230, 87, 61);
	 padding-top: 60px;

}
a{
	color: rgb(255, 255, 255);
}
a:hover{
	color: rgb(0, 0, 0);	
}


.whatAmI{
	display: none; 
    width:100%;
}

.lateralbar{
	position: fixed;
}
@media (min-width: 1024px){
    #portfolio{
        height:100%;
    }

    #lavori{
        height:100%;
    }
    #scuola{
        margin-top: 20%;
        height:100%;   
    }
    #contatti{
        height:100%;
        margin-bottom: 20%;
    }

    #changefix{
        height:100%;
        margin-bottom: 50px;
    }
}


#contentContatti{
	padding-top: 20%;
}

#fixglich{
	height: 100px;
}
#menu{
	padding-bottom: 40px;
}

.sfondoTail{

}
.myButton{
	border: 3px solid;
    border-color: rgba(255, 255, 255,0.2);
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    border-radius: 5px;
    text-align: left;
}

#footer{
	margin-top: 50px;
	font-size: 11px;
}

