@font-face{
	font-family: AppleFont; src: url('../fonts/applefont/myriad-set-pro_ultralight.ttf')format('truetype');  
	font-weight: bold;
}

@media (max-width: 569px) { 
	#fixglich{
		height: 330px;
		font-size: 25px;
	} 
	img{
		max-width: 280px;
	}
	.myButton{
		width: 100%;
	}
	#menu{
		width: 100%;
	}
}
@media (min-width: 475px){
	#menu{
		padding-top: 40px;
	}
}

p{
	font-family: AppleFont;
}

body{
	background-color: rgb(230, 87, 61);

}
a{
	color: rgb(255, 255, 255);
}
a:hover{
	color: rgb(0, 0, 0);	
}


.whatAmI{
	display: none; 
}

.lateralbar{
	position: fixed;
}

#portfolio{
	height: 100%;
	width: 100%;
}
/*
#changefix{
	display: none;
}
#lavori{
	display: none;
}
#scuola{
	display: none;
}
*/
#contentContatti{
	padding-top: 20%;
}

#fixglich{
	height: 300px;
}
#menu{
	padding-bottom: 40px;
}

.sfondoTail{

}
.myButton{
	border: 3px solid;
    border-color: rgba(255, 255, 255,0.2);
    margin: 5px;
    border-radius: 5px;
    width: 100%;
    text-align: left;
}

