    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contattami</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Nome</label>
                                <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Per cortesia metti il tuo nome.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Indirizzo Email</label>
                                <input type="email" class="form-control" placeholder="Indirizzo email" id="email" required data-validation-required-message="Per cortesia metti la tua email.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Messaggio</label>
                                <textarea rows="5" class="form-control" placeholder="Messaggio" id="message" required data-validation-required-message="Per cortesia inserisci il messaggio."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <input type="text" name="_gotcha" style="display:none" />
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg btn-send">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>